@model PartyInvites.Models.GuestResponse
@{
    ViewData["Title"] = "Thanks";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Thanks</title>
</head>
<body>
    <h2>Thanks</h2>
</body>
</html>

